[2012-02-28 17:15] ddollar opened #8 "Need uninstall instructions/script for OSX"

[2013-04-26 13:53] rasky opened #51 ""heroku run" does not correctly preserve arguments that include whitespaces"
I need to executed a remote command that requires an argument that includes a space. For instance:

    heroku run ./manage.py foobar --option "my argument with spaces"

This does not work correctly because the run command basically flats the whole command line into a string, see run.rb:

[code]

The command output is:

    Running `./manage.py foobar --option my argument with spaces` attached to

[2013-08-03 11:19] Nerian opened #63 "Heroku Toolbelt issue with Gemfile specifying ruby version."
Hi,

I ran into some issues while using `heroku run` with in a project with a Gemfile that specifies a ruby version ( `ruby '2.0.0'`)

I created a repo with the minimal things to reproduce the issue:

https://github.com/Nerian/heroku_ticket_94846

[2014-06-08 19:32] pjmolina opened #94 "Unattended install in Windows gets locked without UI"
When making an unattended administrative install in Windows (no UI) (invoking with parameter ```/verysilent``` ) the installer get stuck.

Digging down a little further: the cause seems to be the git installer.
Heroku-toolbelt installer calls git install with ```/silent``` parameter.
Nevertheless, this mode seems to be not silent enough and the git installer shows windows on screen and get blocked

[2014-11-08 20:54] jasonkarns opened #115 "Follow the XDG directory spec for .heroku"
Should be good citizens and following the XDG base directory spec: using `$XDG_DATA_HOME/heroku`, `$XDG_CACHE_HOME/heroku` and `$XDG_CONFIG_HOME/heroku` instead of dumping everything in `$HOME/.heroku`

reference spec: http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2014-12-30 09:59] toncid opened #119 "Passenger apps not working with Ruby 2.2"
Hello,

After upgrading to Ruby v2.2 and deploying the update, the application no longer starts. I'm using Passenger as the app server (v4.0.56).

Error message:

[code]

The problem seems to be with static Ruby that Heroku uses and can be circumvented by setting a rbenv config value (`CONFIGURE_OPTS=--enable-shared rbenv install 2.2.0`).

The issue is being researched by the Passenger team as wel

[2015-01-13 11:58] joshuabaker opened #121 "Hashes appended to bash prompt"
Three hashes were added to my bash prompt as a result of the installer.

<img src="http://i.imgur.com/32hrCMA.jpg">

Perhaps check for content length and prepend a newline before writing the extra lines?

[2015-01-13 19:09] dickeyxxx commented on #121
thanks for submitting! https://github.com/heroku/heroku/pull/1356

[2015-01-13 19:09] #121 closed

[2015-01-14 11:37] joshuabaker commented on #121
:wink::+1:

[2015-01-27 00:12] marcamillion opened #123 "How do I upgrade the version of Ruby that Heroku Toolbelt uses?"
I am trying to install a deploy hook to Honeybadger and it gave me an error message:

[code]

I also tried running `heroku update` and nothing happened.

When I run `heroku version` this is what I see:

[code]

How do I get rid of this error?

[2015-01-27 00:19] dickeyxxx commented on #123
this is a known issue https://github.com/heroku/toolbelt/issues/63. You can't use the toolbelt in a rake task like that

[2015-01-27 00:19] #123 closed

[2015-01-27 00:21] marcamillion commented on #123
So you are saying this is an issue with the gem calling the rake task?

[2015-01-27 00:40] dickeyxxx commented on #123
it's an issue with the rake task calling the toolbelt

[2015-01-27 00:43] marcamillion commented on #123
Ok Thanks.

[2015-02-04 05:09] okoriko commented on #63
[code]

[2015-02-04 05:09] okoriko commented on #63
that's what i got

[2015-02-04 06:41] Nerian commented on #63
@dickeyxxx

What I did was change the ruby version Heroku toolbelt uses by modifying the first line of the heroku script.

[code]

[2015-02-20 15:16] redbar0n commented on #8
+1

[2015-03-27 22:38] Aweary commented on #8
Is there any word on this?

[2015-03-30 11:17] jonmountjoy commented on #8
Check out the uninstall instructions that are [now documented here](https://devcenter.heroku.com/articles/heroku-command#uninstalling-the-heroku-cli).

Feel free to leave comments (click "let us know" at the bottom) if that fails!

Thanks!
Jon

[2015-03-30 11:17] #8 closed

[2015-05-05 08:08] dickeyxxx commented on #51
this is fixed in the new version of run. Right now you can use it with `heroku run --exit-code`. Soon it will be default.

[2015-05-05 08:08] #51 closed

[2015-05-12 22:14] stalluri opened #124 "Heroku toolbelt auto update redirecting update message to stderr"
Shouldn't the auto update messages be redirected to stdout or autoupdate.log instead of stderr?

Our scripts which use heroku CLI internally are having trouble detecting whether heroku command ran successfully or not because of this behavior

[2015-05-12 22:17] dickeyxxx commented on #124
It should be on stderr. stdout is only supposed to be used for standard output. If the messages were on stdout then it would be difficult to script the output.

Are you checking to see if there is any content in stderr and determining if it's an error for that reason? You should check the exit codes instead.

[2015-05-12 22:18] #119 closed

[2015-05-12 22:42] stalluri commented on #124
Our scripts check both exit codes and stderr to check for errors.

Since the update message is going to ~/.heroku/autoupdate.log , why the need for stderr ?

[2015-05-12 23:00] dickeyxxx commented on #124
people aren't likely to see the update message going to the update log. You should stick to exit codes, stderr is an appropriate place for these warnings.

[2015-05-12 23:00] #124 closed

[2015-05-12 23:39] stalluri commented on #124
Dickey,

I couldn't find a way to disable auto-update and do a manual update once in a while. Can you help me with that?

thanks
Satish

[2015-05-12 23:46] dickeyxxx commented on #124
right now there isn't a way to disable the autoupdater

[2015-05-12 23:56] stalluri commented on #124
Thanks

[2015-05-18 18:23] foxx opened #125 "open: no such file or directory"
There is a weird problem...

[code]

[code]

There is no debugging or verbose options, nor any context to explain what this error is in relation to. The `.git` directory is present and accessible.

[2015-05-18 18:25] dickeyxxx commented on #125
try updating, this should be fixed in 3.37.1

[2015-05-20 12:38] foxx commented on #125
Same problem;

[code]

[code]

[2015-05-20 13:33] foxx commented on #125
For future ref, I was able to temporarily get around this problem by using git commands instead. Not an ideal solution, but it works for now until Heroku devs can test their changes locally ;)

[code]

[2015-05-20 15:56] dickeyxxx commented on #125
can you send me the last few lines of `~/.heroku/error.log`?

[2015-05-20 16:17] foxx commented on #125
Sure, here you go;

[code]

[2015-05-20 16:18] foxx commented on #125
Sure, here you go;

[code]

[2015-05-20 18:10] dickeyxxx commented on #125
can you try again? I think I fixed this now. It was an issue with 32-bit linux

[2015-05-20 19:28] foxx commented on #125
Same problem.

[code]

Experiencing this problem both on a clean trusty64 install, and on Yosemite.

[2015-05-20 19:50] dickeyxxx commented on #125
ah I was able to reproduce, this is an issue with login, not with git:remote. Hang on.

[2015-05-20 20:09] dickeyxxx commented on #125
okay, v4.19.27 will have the fix for this. Sorry about the runaround!

On Wed, May 20, 2015 at 12:28 PM, Cal Leeming <notifications@github.com>
wrote:

[2015-05-20 20:27] foxx commented on #125
No worries, that seems to be working now :)

May I make two suggestions;

* Introduce CLI tests to prevent regressions
* Add a --debug or --stacktrace option to dump extra debugging info in the event of an error

[2015-05-20 20:40] dickeyxxx commented on #125
there are tests, they just don't test every situation. There is also debugging, you use the `HEROKU_DEBUG` env var

[2015-05-20 20:40] #125 closed

[2015-05-20 20:43] foxx commented on #125
Then TDD hasn't been followed, sadly. CLIs are no different, they should be tested like everything else, otherwise the tool cannot be considered stable. Just my two cents.

[2015-06-01 14:22] andreafdaf opened #126 "New version broken on Ubuntu 15.04"
Heroku-toolbelt updated by itself just a while ago and stopped working completely. It simply doesn't work anymore, the CLI is totally irresponsive.

Even running
[code]
shows no output.

Files are where they are supposed to be. Which heroku seems to be ok
[code]

Already tried reinstalling with no luck. Any guesses?

[2015-06-01 19:01] dickeyxxx commented on #126
could you delete `~/.heroku` and retry?

[2015-06-01 19:01] dickeyxxx commented on #126
this is related to https://status.heroku.com/incidents/769 probably
just wait 120 seconds, it will start working again

[2015-06-05 01:01] andreafdaf commented on #126
thanks a lot for pointing this out :)

waiting didn't changed anything but removing
[code]
brought everything back to normal, thanks again!

[2015-06-13 21:10] #126 closed

[2015-06-15 21:43] connorshea opened #127 "Homebrew version out of date"
Homebrew only has `heroku-toolbelt 3.37.7`, whereas when I use the Toolbelt it tells me to upgrade to 3.38.1. Using `heroku update` tells me to `!    Use 'brew upgrade heroku-toolbelt' to update`, but running `brew upgrade heroku-toolbelt` doesn't pull down any new version.

I assume this isn't supposed to be happening? Latest version of Homebrew, OS X Yosemite.

[2015-06-15 22:20] dickeyxxx commented on #127
this is a homebrew issue

[2015-06-15 22:20] #127 closed

[2015-06-16 00:18] connorshea commented on #127
Okay, that's not very helpful. Is it taking a while to propagate the new version out to users? Any idea when I'll be able to use the latest version? Should I switch to an install of Heroku Toolbelt outside of Homebrew?

[2015-06-16 00:48] dickeyxxx commented on #127
homebrew is manually updated by the maintainers of that project, you'll need to wait until they update it

[2015-06-16 02:08] connorshea commented on #127
ah, alright, thank you.

[2015-07-01 11:01] neilmiddleton opened #129 "Misleading auth error"
[code]

`!  Resource not found` is a particularly bad error message here.  Surely we can detect a lack of auth?

[2015-07-01 23:53] dickeyxxx commented on #129
this is probably an API issue

[2015-07-26 20:51] JakeChampion commented on #115
:+1: Please be a good citizen

[2015-08-27 22:43] ginolon opened #132 "If I install the standalone download version .dmg of toolbelt it doesn't recognize my global rbenv ruby version."
If I install the standalone download version .dmg of toolbelt it doesn't recognize my global rbenv ruby version.

If I use `brew install heroku` it recognize 2.2.3. How to fix?

[2015-08-27 23:03] dickeyxxx commented on #132
this is by design, the toolbelt is supposed to run on `1.9.3`

[2015-08-27 23:03] #132 closed

[2015-08-27 23:51] ginolon commented on #132
???? In the Getting Start docs on Heroku they say to install Ruby 2.2.3.

[2015-08-28 02:51] dickeyxxx commented on #132
for your ruby app, not the toolbelt

[2015-09-03 17:59] #63 closed

[2015-09-11 05:08] lukehorvat opened #133 "Error "couldn't find HOME environment -- expanding `~'""
Running the `heroku` command produces this error:

[code]

I am using rbenv. The local Ruby version in this directory is 1.9.2. If I change the version to 1.9.3 it works successfully. Is this a bug or does toolbelt no longer work with < 1.9.3?

[2015-09-11 16:27] dickeyxxx commented on #133
1.9.3+ only

[2015-09-11 16:30] dickeyxxx commented on #133
if you use the OS X package instead of homebrew it will use 1.9.3 and you can keep 1.9.2 in your path

[2015-10-13 10:16] rosswilson opened #134 "_stack topic appears in help"
Running `heroku --help` results in `_stack` appearing in the list of "Additional topics":

[code]

Then, running `heroku _stack` results in:

[code]

[2015-10-13 20:08] dickeyxxx commented on #134
What's the output of 'heroku version'?
On Tue, Oct 13, 2015 at 3:16 AM Ross Wilson <notifications@github.com>
wrote:

[2015-10-13 20:09] rosswilson commented on #134
[code]

[2015-10-13 21:39] dickeyxxx commented on #134
alright this is fixed

[2015-10-13 21:39] #134 closed

[2015-10-14 10:42] rosswilson opened #135 "Duplicate lines of text when --help is used"
Passing `--help` to any topic, such as `heroku stack --help` results in the help text being duplicated twice:

[code]

Note how "show the list of available stacks" is duplicated twice.

[2015-10-14 17:06] dickeyxxx commented on #135
can you update and try again? What other topics did you see it on?

[2015-10-15 08:48] rosswilson commented on #135
I've updated to the latest version:

[code]

I found the duplicated lines on:

`stack --help`
`fork --help`
`local --help`
`maintenance --help`
`plugins --help` (duplicated 3 times)
`status --help`
`update --help`
`version --help`

Is there anything else that I can do you assist?

[2015-10-15 17:40] dickeyxxx commented on #135
https://github.com/heroku/heroku-cli/pull/95

[2015-10-15 17:40] #135 closed

[2015-11-05 01:20] clarkewd opened #136 "process.title / [eval]:7 - can't do heroku:set with multi-line values ( from a file )"
to recreate, setup `/tmp/test` with multiple lines such as:

    a

    b

Then run ``heroku config:set TEST="`cat /tmp/test`"``

This results in:

	[eval]:7
			process.title = 'heroku config:set TEST=one
			                ^^^^^^^^^^^^^^^^^^^^^^^^^^^

	SyntaxError: Unexpected token ILLEGAL
	    at Object.exports.runInThisContext (vm.js:53:16)
	    at Object.<anonymous> ([eval]-wrapper:6:22)

[2015-11-05 01:21] dickeyxxx commented on #136
can you update and try again? a fix went out for this earlier

[2015-11-05 16:07] clarkewd commented on #136
I think I have the latest version. I used the installer from https://toolbelt.heroku.com/

On `OS X` here is some info about my versions - does this look right?

	$ which heroku
	/usr/local/bin/heroku

	$ heroku --version
	heroku-toolbelt/3.42.20 (x86_64-darwin10.8.0) ruby/1.9.3
	heroku-cli/4.27.1-b35d19d (amd64-darwin) go1.5.1

	=== Installed Plugins
	heroku-apps@0.5.1
	heroku-cli-addons@0.1.0
	h

[2015-11-05 17:37] clarkewd commented on #136
Following the [uninstall instructions](https://devcenter.heroku.com/articles/heroku-command#uninstalling-the-heroku-cli) and then reinstalling the package from https://toolbelt.heroku.com/ seems to have fixed the issue for me. Maybe I could have run `heroku update` too. Thanks for the help.

[2015-11-05 17:37] #136 closed

[2015-11-05 18:00] #133 closed

[2015-11-05 18:11] dickeyxxx commented on #115
https://github.com/heroku/heroku/pull/1807

[2015-11-05 18:11] dickeyxxx commented on #115
https://github.com/heroku/heroku-cli/pull/120

[2015-11-06 17:13] jasonkarns commented on #115
What kinds of files are stored in `app_dir`? Is `XDG_DATA_HOME` the correct location or should we also consider `XDG_CACHE_HOME` and `XDG_CONFIG_HOME`?

Should we also check if the relevant xdg directory exists? Per the spec, the XDG_* variables aren't required to be set, since they each have default values. I would expect that the XDG dirs be used if either 1) the XDG_* var is set *or* 2) the def

[2015-11-06 18:51] dickeyxxx commented on #115
The content is plugin code, log files, and node which is a runtime dependency. After reading the spec it seems that `XDG_DATA_HOME` is an appropriate use for all of this stuff. Arguably some stuff could be split into cache, but those files are short-lived and it would create problems if the variables were on different drives (since I can't just rename a file to move it). In general I'm opposed to

[2015-11-06 19:06] jasonkarns commented on #115
Gotcha, that makes sense.

I disagree. I believe it's quite common for people to use the xdg directory scheme without setting the variables if they use the defaults. I personally only set the variables for the directories which are *not* the default, but I still want the XDG directories used.

I propose:

[code]

I would argue that the existence of the default XDG directory location is an explicit

[2015-11-06 19:18] dickeyxxx commented on #115
The existence of a directory isn't a good enough heuristic to determine where to put the data. If on OSX I just created that directory, I would be surprised if all my plugins disappeared.

[2015-11-06 19:27] jasonkarns commented on #115
That's fair. So the second snippet should be modified to .heroku for some
of the files that are normally put there.

XDG by default in all cases *except* where existing ~/.heroku is being used.

On Fri, Nov 6, 2015 at 2:18 PM, Jeff Dickey <notifications@github.com>
wrote:

[2015-11-06 19:36] dickeyxxx commented on #115
If a user wants to use the XDG spec they can declare it with an environment variable. Otherwise I'm not going to change the directory.

[2015-11-06 22:57] evanmcc opened #137 "Better errors when passwords have expired."
I got a confusing series of errors when my password expired.  I almost never use the dashboard, so it'd be nice if the error there were better/more clear.

[code]

[2015-11-06 23:38] dickeyxxx commented on #137
fyi this won't be fixed since we're moving to performing login in the browser

[2015-11-06 23:38] dickeyxxx commented on #137
which essentially will fix it

[2015-11-06 23:44] evanmcc commented on #137
meaning that the cli will kick you out to the browser when you need to auth?

[2015-11-06 23:47] dickeyxxx commented on #137
exactly

[2015-11-06 23:50] #137 closed

[2015-11-16 15:09] samjbmason opened #138 "Since el Capitan toolbelt no longer working"
Since I upgraded to el Captian, Im having problems getting toolbelt to work, I use `rbenv` and `toolbelt` and have installed both using `homebrew`. Whenever I run heroku in my command line I get the message `rbenv: heroku: command not found`

Is this a known issue?

[2015-11-16 15:34] ransombriggs commented on #138
It sounds like your PATH got messed up.  Could you echo out your path and make sure that it includes your homebrew bin path (it is most likely /usr/local/bin).  Fixing your PATH variable will depend on which shell you are currently using.

[2015-11-16 15:36] samjbmason commented on #138
Im using ZSH here is my path as configured in my .zshrc file `export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"`

[2015-11-16 15:45] ransombriggs commented on #138
Could you check ~/.rbenv/shims/ for a file for heroku?  From your output it looks like it might be trying to execute an rbenv shim instead of executing /usr/local/bin/heroku directly.

[2015-11-16 15:46] samjbmason commented on #138
So when I run `ls ~/.rbenv/shims/` it shows a file called `heroku`. Should that not be there?

[2015-11-16 16:14] ransombriggs commented on #138
At some point you (or a dependency) installed the gem heroku, and rbenv created a shim for that which no longer works.  If you do not need the heroku gem installed I would remove it because it is deprecated and it should pick up your homebrew installation if you remove it.

    -> % gem uninstall heroku
    Remove executables:
    	heroku

    in addition to the gem? [Yn]  y
    Removing heroku

[2015-11-16 16:24] samjbmason commented on #138
Ah right, so this is something with rbenv as I use gemsets I fear this will take an age to figure out which project is installing the executable

[2015-11-16 16:31] ransombriggs commented on #138
Ah, this is making more sense now, because whatever gemset you are currently using does not have the heroku gem installed, but the executable still exists.  Another option would be to put the homebrew directory before the shims one in your PATH (with the caveat that it may break something where you were depending on an executable in shims over one from homebrew).  The easiest way to do this would

[2015-11-16 17:20] samjbmason commented on #138
Ah thats great thanks for that I will do some searching :)

[2015-11-16 17:20] #138 closed

[2015-11-19 01:53] jroper opened #139 "Debian/Ubuntu install assumes ruby is already installed"
After installing on Ubuntu according to the instructions [here](https://toolbelt.heroku.com/debian), the `heroku` command failed to run because ruby (or at least, the package that supplies the ruby command) was not installed:

[code]

Obviously, it's an easy problem to solve, but the heroku deb should probably declare a dependency on the ruby package.

[2015-11-19 20:03] #115 closed

[2015-11-19 20:42] dickeyxxx commented on #139
what version of ubuntu are you on?

[2015-11-22 23:32] jroper commented on #139
[code]

[2015-11-23 20:25] dickeyxxx commented on #139
this is now fixed

[2015-11-23 20:25] #139 closed

[2015-12-17 18:42] zeke commented on #138
This just bit me after an upgrade to OS X El Capitan. A fresh install using the package installer at toolbelt.heroku.com did the trick for me.

[2016-01-05 00:08] mattdipasquale opened #143 "Why does the installer require my password?"
Can I install the Heroku client as a gem or with Homebrew? Because, I don't want to enter my password.

[2016-01-05 17:32] ransombriggs commented on #143
@mattdipasquale you should be able to install it via homebrew (`brew install heroku`)

[2016-01-05 19:38] mattdipasquale commented on #143
@ransombriggs OK. Thanks! That worked. :+1:

[2016-01-05 19:39] #143 closed

[2016-01-05 22:45] scribu opened #144 "`heroku config --shell` avoids quoting when output is piped"
I'm trying to set up an environment for an integration test and `heroku config --shell` seems to produce almost exactly the output I need.

I have a few variables which actually contain JSON, and the command correctly adds single quotes around them:

[code]

... except when I pipe the output to another command or to a file:

[code]

Aaargh!

Version info:

[code]

[2016-01-13 11:03] pjmolina commented on #94
Using the `heroku-toolbelt` installer for windows version `3.42.27` this issue has re-appeared again.

[2016-01-13 22:19] dickeyxxx commented on #94
this is done

[2016-01-13 22:19] #94 closed

[2016-01-14 23:19] dickeyxxx commented on #144
this is now fixed

[2016-01-14 23:19] #144 closed

[2016-01-18 20:28] cesarizu opened #145 "Allow non-interactive usage"
When running any heroku toolbelt command in Heroku through a shell or a scheduled task I get the following prompt:

`Would you like to submit Heroku CLI usage information to better improve the CLI user experience?`

This breaks the automated scripts that I'm trying to use. Is there any way to suppress any interactive input that the toolbelt may need, like a `--non-interactive` flag or something si

[2016-01-18 21:37] dickeyxxx commented on #145
can you show me an example of the script you're trying to run?

[2016-01-18 23:02] cesarizu commented on #145
Initially I'm just running `heroku --version` just to output in the logs which version is running. But this is happening with any command I try to run as well.

[2016-01-18 23:04] dickeyxxx commented on #145
But is it happening within a script? Because it shouldn't if it's not connected to a tty.

[2016-01-18 23:05] dickeyxxx commented on #145
Also, it will only ever display once and it will automatically cancel if you don't press anything for a few seconds.

[2016-01-18 23:07] cesarizu commented on #145
Some of this scripts we are running from a tty on demand and some using Heroku's scheduler. I noticed this when on of the scheduled tasks seemed not to be running. After trying from a tty I got that message. Responding Y or N let the script continue normally and it completed.

[2016-01-18 23:09] cesarizu commented on #145
I just tried and you are right about that. In that case maybe I jumped to fast to a conclusion. I'll continue investigating this, maybe it was related to something else.

[2016-01-23 18:14] dimascyriaco opened #146 "ERROR: EOF on every command."
[code]

I'm getting this error on every command. It was working just fine yesterday.

I'm on Ubuntu, with ZSH. I've reinstalled the toolbelt, and nothing.

Any help?

[2016-01-25 15:22] ransombriggs commented on #146
@dimascyriaco Not sure what could have called this, but could you please try the following? Remove `~/.heroku` and run `heroku update` and see if that fixes your problem.

[2016-01-27 00:08] Yitsushi opened #147 "I can't use Heroku Toolbelt on OS X El Capitan, i need to log in again and again"
I tried to install the Heroku Toolbelt on my new machine. Simply I just downloaded the pkg file from https://toolbelt.heroku.com/ then installed. After that quickly run `heroku login`. It asked me about analytic, I said yes... Downloaded some stuff then login credentials. Ok, i'm logged in. After I try to run `heroku apps` it always asks me my credentials.

[code]

I have a testing windows machine

[2016-01-27 00:16] Yitsushi commented on #147
Maybe it's an interesting fact, but I think this is relevant to #30 and not my problem

[code]

[code]

It does not solve my problem.

[2016-01-27 14:50] dickeyxxx commented on #147
closing in favor of https://github.com/heroku/heroku-cli/issues/188

[2016-01-27 14:50] #147 closed

[2016-01-27 16:10] Yitsushi commented on #147
Thanks. The problem is:
[code]

this call generates a path like this: ~/netrc/.netrc

1. if I change my NETRC env, it does not affect `Heroku::Helpers::Env['NETRC']`. It always return with "~/netrc"
2. The returned file exists (after I copied) but `File.exists?` can't see it.

I put line into `/usr/local/heroku/lib/heroku/auth.rb` around line 143:

[code]

and now it can recognise.

So: tilde as h

[2016-01-27 16:47] dickeyxxx commented on #147
something is modifying your `NETRC` env var

[2016-01-27 20:09] tmecklem commented on #145
It pauses every one of my codeship ci builds for 20 seconds when I run a custom script command 'heroku maintenance:on ...' to put up the maintenance page.

[2016-01-27 20:33] #145 closed

[2016-02-06 19:54] markoa opened #148 "Logs don't appear when running a worker"
Here's what I have:

`Procfile`:
[code]

`test.rb`:
[code]

Running `heroku local --port 4000` gives:

[code]

I don't quite understand why stdout things don't appear?

[2016-02-08 17:13] ransombriggs commented on #148
@markoa There are currently some open issues in the program that `heroku local` uses behind the scenes to run your application.  We are in the process of moving to another program that should fix issues like yours, I will let you know when the fix has been released.

[2016-02-09 10:46] markoa commented on #148
Thanks @ransombriggs, I'm looking forward to it.

[2016-02-16 14:55] ruffin-- commented on #148
Getting a similar issue running `heroku local web` with a node.js app. When run with node directly, I get all the console logging I'd expect, but with `heroku local web`, it stops logging early. Return values still work, and service is still running. Hitting ctrl-c when this happens gives me `ctrl-c detected`, but the app doesn't stop.

Assuming it's a similar thing.

[2016-02-16 15:33] ransombriggs commented on #148
@ruffin-- yeah, it is the same issue, will let you know when we have a fix ready

[2016-02-16 15:37] ransombriggs commented on #148
@ruffin-- Since you are running a node app, I assume you have experience with using npm.  Would it be possible to help test our `heroku local` fix?  Currently the CLI uses forego under the covers of `heroku local`, but we are investigating moving to [node-foreman](http://strongloop.github.io/node-foreman/) because of issues like you have encountered with heroku local. If you want to test out node-

[2016-03-13 20:24] baconface opened #155 "Heroku Toolbelt messed up Git diffs"
After installing Toolbelt my Git diffs are now incorrect. Instead of just the line which the changes appearing the whole document is in a diff. Very annoying and only started happening after installing Toolbelt and restarting.

Windows 8.1.

[2016-03-13 20:27] baconface commented on #155
And why does Git need to be reinstalled anyways if it is already on the machine?

[2016-03-13 20:34] baconface commented on #155
Reinstalling Git has fixed the issue for me. But the behavior of Toolbelt breaking this should still be looked into?

[2016-03-25 20:55] cee-dub opened #157 "Heroku `local` command now truncates output lines, with no option to enable wrapping instead"
A recent update to the `local` command changed output formatting and forces line truncation, which can be nice sometimes, but makes Rails development mode query logging pretty much useless, since queries are often one long line.

Can you add a command line option to enable wrapping full lines?

[2016-03-28 15:56] ransombriggs commented on #157
@cee-dub I looked into you issue and should be able to fix it, but I will have to push a change up to the underlying tool that we use, so it may take some time to resolve.

[2016-03-28 17:53] cee-dub commented on #157
@ransombriggs Thanks for looking into it! Let me know if I can be of assistance. Which tool handles this internally?

[2016-03-28 18:25] ransombriggs commented on #157
@cee-dub https://github.com/strongloop/node-foreman is the tool used internally.  I am looking into how the wrap & trim options work and am working on a way to turn off both.  I should have a pull request this afternoon, assuming no interruptions.

[2016-03-28 19:21] ransombriggs commented on #157
@cee-dub I just filed a [pull request](https://github.com/strongloop/node-foreman/pull/98) with node-foreman to add a flag allowing me to turn off wrapping (there is an option already to turn off trimming, but it still wraps which would be problematic for you to copy SQL out of)

[2016-03-28 19:41] dickeyxxx commented on #157
doesn't the `-w` flag fix this?

[2016-03-28 19:55] ransombriggs commented on #157
@dickeyxxx the `-w` flag inserts a bunch of characters when it wraps, which makes it hard to copy logs out.  I would like to get it back to the same behavior as `forego` where it did not alter the log output at all.
[code]

[2016-03-29 21:52] ransombriggs commented on #155
@baconface I am sorry that the toolbelt installed over your previously installed version.  I plan on releasing a fix for this tomorrow so that other users do not encounter the same bug.

[2016-03-30 19:32] ransombriggs commented on #155
I just released version `3.42.45` of the installer which will not install Git if it detects an existing installation.

[2016-03-30 19:32] #155 closed

[2016-04-14 14:25] vladkosarev opened #158 "Windows ERROR- x509: certificate signed by unknown authority"
All heroku commands just throw this -
ERROR: Get https://cli-assets.heroku.com/node/v5.10.1/node-5.10.1-windows-386.exe.xz: x509: certificate signed by unknown authority

I tried uninstalling/reinstalling. Tried removing/reinstalling git. Removed 64 bit git. Added git's bin to path. Nothing fixes this issue. Is there a way to disable https in windows?

[2016-04-19 19:44] ransombriggs commented on #158
@vladkosarev Sorry for the delayed response, but what version of Windows are you on?  And are you using any man in the middle HTTPS proxy software?

[2016-04-22 12:15] vladkosarev commented on #158
Was able to fix it through support. This was on windows 8.1 and no https proxy.

The fix was to run this
set SSL_CERT_FILE=C:\Program Files (x86)\Heroku\data\cacert.pem

I believe the problem is that if you have ruby 2.2 installed you get this
SSL_CERT_FILE=C:\Ruby22-x64\lib\ruby\2.2.0\rubygems\ssl_certs\AddTrustExternalCARoot.pem

which probably overrides cli's certs and breaks things.

[2016-04-22 19:49] mgiordano opened #159 "Cannot read property 'filter' of undefined"
After upgrading today (April 22nd), the Heroku toolbelt stopped working altogether. For most of the heroku commands I run - `heroku local`,` heroku logs`, `heroku status`, etc. - I get the following kind of error:

[code]

I absolutely didn't touch anything related to my heroku installation, and everything was working fine until I updated earlier today. `heroku version` displays:

[code]

[2016-04-22 19:54] ransombriggs commented on #159
@mgiordano could you run `HEROKU_DEBUG=1 GODE_DEBUG=info heroku update`, then `HEROKU_DEBUG=1 heroku status` and paste the output in the issue?

[2016-04-22 19:55] ransombriggs commented on #159
@mgiordano could you please check `error.log` for a backtrace as well?

[2016-04-22 20:13] mgiordano commented on #159
Hi @ransombriggs, thanks for reaching out.

This is the output for `HEROKU_DEBUG=1 GODE_DEBUG=info heroku update`

[code]

And the following for `HEROKU_DEBUG=1 heroku status`:

[code]
Moreover, this is everything that went into `error.log` from the moment I run each of the commands you told me:

[code]

[2016-04-22 20:22] dickeyxxx commented on #159
can you show me the contents of `/.heroku/.npm-cache/heroku-pipelines/1.1.4/package/package.json`?

[2016-04-22 21:55] ransombriggs commented on #159
@mgiordano after you dump in the `package.json` file that `dickeyxxx` mentioned, you can get things back to normal by deleting your `~/.heroku` directory and running `heroku update`, which should reinstall the pieces that are not working.

[2016-04-23 02:32] mgiordano commented on #159
Hey @dickeyxxx, there are no contents in that file, it's empty.

@ransombriggs I've done as you said and everything's back to normal. Any ideas on what could've happened? Quite strange. I've backuped up the `.heroku` folder in case you need more info.

Thanks!

[2016-05-03 18:46] dickeyxxx commented on #159
@mgiordano the updates have completely changed now, and this issue should not happen again

[2016-05-03 18:46] #159 closed

[2016-05-04 00:15] dickeyxxx commented on #157
this is changed now

[2016-05-04 00:15] #157 closed

[2016-05-27 10:03] iulitaro opened #162 "[Windows 8.1] Heroku does not remove environemnt variables after uninstall"
The following remain:
![capture](https://cloud.githubusercontent.com/assets/940531/15604870/da183e3e-2402-11e6-9209-e3743372f3e7.PNG)

HEROKU_PATH

and entry in System Variables/Path

Also an empty folder remains in the Program Files.

One must manually uninstall them. Screenshot attached. Could cause redundancy at reinstall (adding the path two times)

[2016-07-07 21:15] tnoonan-salesforce opened #163 "Developing CLI plugins on windows."
I’m trying to use plugins:link on windows 8.1.

I get this error:

Symlinking force-com-toolbelt... !
 !    symlink C:\Users\IEUser\Developer\force-com-toolbelt C:\Users\IEUser\AppDa
ta\Local\heroku\plugins\node_modules\force-com-toolbelt: A required privilege is
 not held by the client.

Is the required sym-linking functionality available on windows?

Otherwise whats the best way to install a plu

[2016-07-08 16:43] dickeyxxx commented on #163
you might be able to do it if you run cmd as an administrator, but I've never tried it. You might have to publish the plugin to test it.

[2016-07-08 16:46] tnoonan-salesforce commented on #163
I ran the command as an administrator. But I will double check and make sure.

Is there a way I can manually install the plugin?

[2016-07-08 16:50] dickeyxxx commented on #163
the only way to install a plugin is with plugins:link or plugins:install

[2016-07-12 18:41] sethwoodworth opened #164 "Broken pipe when using 'head' on Debian Jessie 8.4"
`heroku releases --app some-app-name-here | head -n2`
outputs:
[code]

This seems to happen any time `head` would truncate the number of lines output by `heroku`.

[2016-07-13 18:27] kalyandechiraju opened #165 "Cannot login to heroku -- cannot unmarshal DNS message"
I am using heroku toolbelt on a Mac running 10.11.5 and when I do heroku login and enter my credentials, I get this error. This is very inconvenient and I cannot use heroku on my machine.

`Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 8.8.4.4:53: cannot unmarshal DNS message`

Tried many things like `sudo heroku login`, but didnt help. Please let me know if there is any wo

[2016-07-13 20:10] ransombriggs commented on #165
Could you paste in the output of the following command?  This is due to a bug with the programming library Go and DNS responses that are not to spec and are larger than a certain size.  I have not been been able to recreate this locally, but hopefully we can figure out the difference in our setups and track down why you are getting a too large response.  (I also run 10.11.5)
[code]

[2016-07-14 02:09] kalyandechiraju commented on #165
; <<>> DiG 9.8.3-P1 <<>> @8.8.4.4 api.heroku.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 55215
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 13, ADDITIONAL: 12

;; QUESTION SECTION:
;api.heroku.com.			IN	A

;; ANSWER SECTION:
api.heroku.com.		21	IN	CNAME	midgard.heroku.com.
midgard.heroku.com.	441	IN	CNAME	midgard.herokuss

[2016-07-19 21:22] #164 closed

[2016-07-23 17:42] kalyandechiraju commented on #165
@ransombriggs Can you help me out?

[2016-07-23 18:23] ransombriggs commented on #165
@kalyandechiraju sorry, but I am on vacation right now, @dickeyxxx can you see if you can reproduce?

[2016-07-23 18:53] ransombriggs commented on #165
@dickeyxxx fwiw, last time someone saw this I could not reproduce even when using the same DNS server which made me think it was a configuration issue. That time we were on slightly different OS versions, but this time it is the same.  If the 'dig' command does immediately reproduce for you I would post it to stack exchange because I wasted too much time trying to figure it out last time. The fact

[2016-08-04 14:53] ransombriggs commented on #165
@kalyandechiraju Sorry for the delayed response, back from vacation and looking into what I had tried before and came across this https://github.com/heroku/heroku/issues/1899 where I shipped a change that appeared to fix things for two users.  What is the output of `heroku version`?  I want to make sure that you have a version after the fix.

[2016-08-04 16:13] kalyandechiraju commented on #165
@ransombriggs
heroku-toolbelt/3.43.5 (universal.x86_64-darwin15) ruby/2.0.0
heroku-cli/5.2.24-4b7e305 (darwin-amd64) go1.6.2
You have no installed plugins.

[2016-08-04 18:33] ransombriggs commented on #165
@kalyandechiraju could you run `heroku update` and paste in the output?

[2016-08-04 18:35] kalyandechiraju commented on #165
@ransombriggs

heroku update
 ▸    Get https://cli-assets.heroku.com/branches/stable/manifest.json: dial tcp: lookup cli-assets.heroku.com on 8.8.4.4:53: cannot unmarshal DNS message
 !    Use `brew upgrade heroku` to update

$ brew upgrade heroku
Error: heroku 3.43.5 already installed

[2016-08-04 18:43] ransombriggs commented on #165
@kalyandechiraju could you do me a favor and remove `~/.local/share/heroku/` and run `heroku update` again?

[2016-08-04 18:51] kalyandechiraju commented on #165
@ransombriggs I did that

heroku update
heroku-cli: Installing CLI... 21.48MB/21.48MB
 !    Use `brew upgrade heroku` to update

After download, it asked me to run brew upgrade heroku...
$ brew upgrade heroku
Error: heroku 3.43.5 already installed

Same thing repeated, still heroku login not working :(

[2016-08-04 18:57] ransombriggs commented on #165
@kalyandechiraju what is the output of `heroku version` now?

[2016-08-04 18:58] kalyandechiraju commented on #165
@ransombriggs  Hey something new happened. I tried to run install script inside local/share/heroku then the folder got cleared and when I ran heroku login, cli updated to new version

heroku login
heroku-cli: Updating to 5.2.34-65b16c9... 15.5 MB/15.5 MB
 ▸    fork/exec /usr/local/bin/heroku: resource temporarily unavailable

Now am facing this new error

heroku login
 ▸    fork/exec /usr/local/bi

[2016-08-04 19:00] kalyandechiraju commented on #165
$ heroku version
 ▸    fork/exec /usr/local/bin/heroku: resource temporarily unavailable

[2016-08-04 19:01] ransombriggs commented on #165
@kalyandechiraju It looks like the brew installation is messed up, what would you think of uninstalling from brew and doing an install from `https://toolbelt.heroku.com/`?

[2016-08-05 03:07] kalyandechiraju commented on #165
@ransombriggs  Yes. I removed brew heroku and installed a fresh copy from the url above.

heroku version
heroku-toolbelt/3.43.9 (x86_64-darwin10.8.0) ruby/1.9.3
heroku-cli/5.2.34-65b16c9 (darwin-amd64) go1.6.2
You have no installed plugins.

Still heroku login
` ▸    Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 8.8.4.4:53: cannot unmarshal DNS message`

Is it just for me ?

[2016-08-05 14:16] ransombriggs commented on #165
@kalyandechiraju could you try running the following?
[code]

[2016-08-05 16:08] starrychloe opened #169 "Heroku pg:ps `require': cannot load such file -- net/ssh/gateway (LoadError)"
[code]

[2016-08-05 16:28] ransombriggs commented on #169
@starrychloe Could you please re-install the CLI from https://toolbelt.heroku.com/ ?  The CLI code itself is up to date, but we do not attempt to update the ruby interpreter and since you first installed the CLI, it has bumped from `ruby-1.9.2` to `ruby-2.1.7`.

[2016-08-05 18:45] kalyandechiraju commented on #165
@ransombriggs got same Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 8.8.4.4:53: cannot unmarshal DNS message

[2016-08-05 19:41] ransombriggs commented on #165
@kalyandechiraju Could you try `GODEBUG=netdns=go heroku login`?  I am assuming it will not work because I think it is the default behavior, but it was suggested here http://stackoverflow.com/questions/38770700/golang-issue-with-dns-response-512-bytes-on-mac-os-x-cannot-unmarshal-dns-mes/38777375 and I also am trying to figure out how to replicate your behavior here http://serverfault.com/question

[2016-08-05 20:20] ransombriggs commented on #165
@kalyandechiraju @dickeyxxx suggested that the following may work for you since it does not use the same login method as the code you are running.  Basically `heroku-accounts` is a plugin that people use to manage multiple heroku accounts, but in your case we are using to avoid hitting the problematic Go code.
[code]

[2016-08-09 19:38] starrychloe commented on #169
OK.

[code]

I only have `psql` installed under Cygwin.

[code]

[2016-08-09 19:57] ransombriggs commented on #169
@starrychloe it appears to be working now, is it alright if I close?

[2016-08-15 14:32] wlhaskell commented on #165
@ransombriggs I had some students experiencing this same issue and the workaround was successful.  Thank you for the help.

[2016-08-22 14:49] raykin commented on #158
@vladkosarev
I did similar on mac, but not success. I totally don't understand what has happened and how to debug it and don't know which certificate heroku used. Any ideas?

[code]

[2016-08-22 15:12] ransombriggs commented on #158
@raykin Are you going through an HTTPS proxy that rewrites certificates?  If so, it appears to be misconfigured as it is serving you a certificate matching `*.htcdev.com` which is not correct.  If you are not using an HTTPS proxy, there are two ways that I can think of that might cause this to happen, either you have a hosts entry that is causing traffic for `api.heroku.com` to go to a site served

[2016-08-22 15:23] raykin commented on #158
@ransombriggs you really save me, thank you very much

I don't believe I have a https proxy, so I go to /etc/hosts and find an item
[code]
then I open my browser and go to 50.19.233.255, it shows www.htcdev.com. It should be a terrible mistake although I did use htc phone before.
Your explanation is good for me too, I learned how to read the error message correctly.